# ── PostgreSQL ──────────────────────────────────────────────────────────────
POSTGRES_USER=esg_admin
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD_32CHARS
POSTGRES_DB=esg_territorial
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ── MinIO ───────────────────────────────────────────────────────────────────
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME_MINIO_PASSWORD_16CHARS
MINIO_ENDPOINT=minio:9000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# ── Airflow ─────────────────────────────────────────────────────────────────
AIRFLOW_ADMIN_USER=airflow_admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME_AIRFLOW_PASSWORD
AIRFLOW_SECRET_KEY=CHANGE_ME_32CHAR_RANDOM_STRING_HERE
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://esg_admin:CHANGE_ME_STRONG_PASSWORD_32CHARS@postgres:5432/esg_territorial
AIRFLOW__CORE__FERNET_KEY=CHANGE_ME_32CHAR_RANDOM_STRING_HERE

# ── Metabase lecture Gold optionnelle ───────────────────────────────────────
METABASE_USER_PASSWORD=CHANGE_ME_METABASE_PASSWORD

# ── JupyterHub ──────────────────────────────────────────────────────────────
JUPYTER_TOKEN=CHANGE_ME_JUPYTER_TOKEN_HERE

# ── Grafana ─────────────────────────────────────────────────────────────────
GF_SECURITY_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_PASSWORD

# ── OpenLineage / Marquez ───────────────────────────────────────────────────
OPENLINEAGE_URL=http://marquez:5000
OPENLINEAGE_NAMESPACE=esg-territorial-prod

# ── Comptes DS (lecture Silver+Gold) ────────────────────────────────────────
ROLE_DE_PASSWORD=CHANGE_ME_ROLE_DE_PASSWORD
DS_USER1_PASSWORD=CHANGE_ME_DS1_PASSWORD
DS_USER2_PASSWORD=CHANGE_ME_DS2_PASSWORD

# ── Compte DA (lecture Gold) ─────────────────────────────────────────────────
DA_USER_PASSWORD=CHANGE_ME_DA_PASSWORD

# ── Compte Audit DMO (lecture ingestion_log + Gold) ─────────────────────────
AUDIT_USER_PASSWORD=CHANGE_ME_AUDIT_PASSWORD
